<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>ensLigkQqMPquO5XYxCjB4IbOf3DXZ0b</string>
	<key>Domain</key>
	<string>eebean2.auth0.com</string>
	<key>APIKey</key>
	<string>_thisisthesamplekey_dtsuite2017_</string>
	<key>PassCode</key>
	<string>Passcode</string>
</dict>
</plist>
